---
apiVersion: yakup.ibidem.no/v1
kind: Application
metadata:
  name: incrdble
  namespace: default
  labels:
    app: incrdble
spec:
  image: "{{ image }}:{{ version }}"
  ports:
    - kind: http
      port: 3000
  probes:
    liveness:
      http:
        initialDelaySeconds: 10
        portName: http
        path: /_/healthy
    readiness:
      http:
        initialDelaySeconds: 10
        portName: http
        path: /_/ready
    resources:
      limit:
        memory: 128Mi
      requests:
        memory: 70Mi
        cpu: 10m
