{% extends 'base.html.j2' %}

{% macro properties(props, level, prefix="") -%}
{% for property in props %}
    <h{{ level }}>{{ prefix }}{{ property.name }} <code>{{ property.type }}</code> {% if property.required %}(required){% endif %}</h{{ level }}>
    <p>{{ property.description }}</p>
    {% if property.properties %}
        {{ properties(property.properties, level + 1, prefix + property.name + ".") }}
    {% endif %}
{% endfor %}
{%- endmacro %}

{% block title %}{{ crd.name() }} - {{ super() }}{% endblock %}

{% block content %}
    <h1 class="mb-3">{{ crd.name() }}</h1>
    <dl>
        <dt>Group</dt>
        <dd>{{ crd.group }}</dd>
        <dt>Kind</dt>
        <dd>{{ crd.kind }}</dd>
        <dt>Plural</dt>
        <dd>{{ crd.plural }}</dd>
    </dl>
    {% for version in crd.versions %}
        <h2>{{ version.version }}</h2>
        <p>{{ version.description }}</p>
        {{ properties(version.properties, 3) }}
    {% endfor %}
{% endblock %}
