{% extends 'base.html.j2' %}

{% macro properties(props, level, prefix="") -%}
{% for property in props %}
    <h{{ level }}>{{ prefix }}{{ property.name }} <code>{{ property.type }}</code> {% if property.required %}(required){% endif %}</h{{ level }}>
    <p>{{ property.description }}</p>
    {% if property.properties %}
        {{ properties(property.properties, level + 1, prefix + property.name + ".") }}
    {% endif %}
{% endfor %}
{%- endmacro %}

{% block title %}{{ crd.name() }} - {{ super() }}{% endblock %}

{% block content %}
    <h2 class="mb-3">{{ crd.name() }}</h2>
    <dl class="row">
        <dt class="col-sm-2">Group</dt>
        <dd class="col-sm-10">{{ crd.group }}</dd>
        <dt class="col-sm-2">Kind</dt>
        <dd class="col-sm-10">{{ crd.kind }}</dd>
        <dt class="col-sm-2">Plural</dt>
        <dd class="col-sm-10">{{ crd.plural }}</dd>
        <dt class="col-sm-2">Short names</dt>
        <dd class="col-sm-10">
            <ul>
            {% for short_name in crd.short_names %}
                <li>{{ short_name }}</li>
            {% endfor %}
            </ul>
        </dd>
    </dl>
    {% for version in crd.versions %}
        <h3>{{ version.version }}</h3>
        <p>{{ version.description }}</p>
        {{ properties(version.properties, 4) }}
    {% endfor %}
{% endblock %}
