{% extends 'base.html.j2' %}

{% block content %}
    <ul>
        {% for crd in crds %}
            <li><a href="{{ url_for('get_crd', name=crd.name()) }}">{{ crd.name() }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
